body {
  background: var(--background);
  color: var(--foreground);
}

.main-container {
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: var(--backgrond);
  border: 6px solid var(--foreground);
  transition: 1s ease width, 1s ease height, 1s ease margin-top, 1s ease margin-left;
  z-index: 2;
  transform: translate(var(--offset), var(--offset));
}

.contLink {
  position: fixed;
  display: block;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  transform: translate(0px, 0px);
  border: 3px solid var(--background);
  border-radius: 7px;
  color: var(--foreground);
  padding: 5px;
  cursor: pointer;
  font-family: arial;
  transition: 1s ease transform, 1s ease background;
  z-index: 2;
}

.contLink[href] {
  background: var(--foreground);
}

.content > .contLine {
  display:block;
  background: #dedede;
  position:fixed;
  height:30px;
  width:150px;
  margin-top: -15px;
  margin-left: -75px;
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: 1;
  transition: .5s ease opacity;
}

.content:hover > .contLine {
  opacity: 1;
}

.contLink > img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: .5s ease opacity;
}

.contLink > img[src] {
  opacity: 1;
}

.modal-container {
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.45);
  transition: 1s ease opacity;
  justify-content: center;
  align-items: center;
}

.modal-container[data-active=true] {
  opacity: 1;
  pointer-events: all;
  padding: 20px;
}

.modal {
  flex-basis: 800px;
  flex-grow: 0;
  flex-shrink: 1;
  background: var(--foreground);
  color: var(--background);
  border-radius: 15px;
  padding: 20px;
  height: max-content;
  overflow: auto;
}

h1 {
  margin-top: 0;
}

.modal-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  counter-reset: list-item;
}

.settings-link {
  --index: attr(data-index);
  display: grid;
  grid-template-columns: auto auto auto 6fr 5fr auto;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.modal-list-counter::after {
  counter-increment: list-item;
  /*content: counter(list-item);*/
  content: var(--index);
}

.settings-link-icon {
  width: 20px;
  height: 20px;
}

.settings-link-remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.settings-link-drag {
  height: 20px;
  cursor: grab;
}

body[dragging] {
  cursor: grabbing !important;
}

.settings-buttons {
  display: flex;
  justify-content: space-between;
}

.settings-new-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-new-link button {
  border: 1px dashed #000;
}

.settings-buttons button, .settings-new-link button {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  margin: 5px;
}

button {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

button:hover {
  border: 1px solid #000;
}

.button-reset {
  background-color: #fede56;
}

.button-cancel {
  background-color: #cd2323;
}

.button-save {
  background-color: #34cd56;
}

#settings-button {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

#settings-button:hover {
  animation: spin 1s linear 0s infinite;
  transform: scale(1.2, 1.2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  font-family: arial;
  --size: max(calc(50vmin - 200px), 15px);
  --offset: calc(var(--size) / -2);
  --foreground: #ffffff;
  --background: #1f1f1f;
  box-sizing: border-box;
}
